<button class="map-zoom__button" disabled={{isMax}} {{action "zoomIn"}}>
  <i class="mdi mdi-plus"></i>
</button>
<button class="map-zoom__button" disabled={{isMin}} {{action "zoomOut"}}>
  <i class="mdi mdi-minus"></i>
</button>