<li class="settings-menu__item" {{action "setMapType" "satellite"}}>
  Satellite
</li>
<li class="settings-menu__item" {{action "setMapType" "roadmap"}}>
  Road Map
</li>
<li class="settings-menu__item" {{action "setMapType" "hybrid"}}>
  Hybrid
</li>
<li class="settings-menu__item" {{action "setMapType" "terrain"}}>
  Terrain
</li>