{{#if attrs.icon}}
  <i class="top-bar-button__icon mdi mdi-{{attrs.icon}}"></i>
{{/if}}

{{#if attrs.title}}
  <span class="top-bar-button__title">{{attrs.title}}</span>
{{/if}}

{{#if isContentVisible}}
  {{yield}}
{{/if}}