{{#each vessels as |vessel|}}

  <li class="vessel-list__item" {{action "selectVessel" vessel}}>
    {{vessel.name}}
  </li>

{{else}}

  <li class="vessel-list__empty">
    No vessels found
  </li>

{{/each}}