.info-panel {
    position: fixed;
    top: $top-bar-height + $info-panel-margin;
    bottom: $info-panel-margin;
    left: -$info-panel-width;
    width: $info-panel-width;
    z-index: $info-panel-z-index;

    @include panel();

    transition: left 0.3s ease-in-out;
}

.info-panel--open {
    left: 0;
}