<div class="fi-app">
  
  {{fi-map}}


  {{#top-bar as |bar|}}
    
    {{bar.button title=infoPanelTitle icon=infoPanelIcon click=(action 'toggleInfoPanel')}}
    
    {{#bar.button icon="dots-vertical" position="right"}}
      {{settings-menu}}
    {{/bar.button}}

  {{/top-bar}}


  {{#info-panel open=infoPanelOpen}}

  {{/info-panel}}

</div>